* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffe6e6;
}
h1 {
  color: #0ec8cb;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 4.8px;
  line-height: normal;
  margin-top: -122px;
  white-space: nowrap;
}
.main {
  padding: 143px;
  color: #898f99;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 4.8px;
  line-height: normal;
}
.text {
  width: 645px;
  height: 43px;
  color: #999999;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 42px;
  margin: auto;
}
.wrapper {
  display: table;
  width: 100%;
  margin: auto;
}
.card {
  display: table-cell;
  height: 420px;
  width: 24%;
  text-align: center;
  vertical-align: middle;
  padding: 61px;
}
.card-second {
  display: table-cell;
  height: 420px;
  width: 24%;
  text-align: center;
  vertical-align: middle;
  padding: 61px;
}
.name-first {
  height: 101px;
  color: #777777;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.name {
  width: 112px;
  height: 16px;
  color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.name-second {
  width: 112px;
  height: 16px;
  color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.name-third {
  height: 101px;
  color: #777777;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.card-second:hover {
  background-color: #26b4b7;
  color: white;
}
.img-first:hover {
  fill: white;
  color: white;
  background-color: #26b4b7;
  border: 1px solid transparent;
}

.name-second:hover {
  color: white;
}
.name-third:hover {
  color: white;
}
